<% layout('layouts/boilerplate') %>
    
    <div class="row">
      <div class="col-8 offset-2 mt-3">
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%= Listing._id %>?_method=PUT">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="Listing[title]" value="<%= Listing.title %>" type="text" class="form-control"/>
          </div>
          
          <div class="mb-3">
            <label for="descrption" class="form-label">Descrption</label>
            <textarea name="Listing[description]" class="form-control"><%= Listing.description %></textarea>
          </div>
          <div class="mb-3"><label for="image" class="form-label">Image link</label>
            <input name="Listing[image]" value="<%= Listing.image %>" type="text"  class="form-control"/></div>
            <div class="row">
              <div class="mb-3 col-md-4"><label for="price" class="form-label">Price</label>
                <input name="Listing[price]" value="<%= Listing.price %>" type="number" class="form-control" />
                </div>
                <div class="mb-3 col-md-8"><label for="country" class="form-label">Country</label>
                  <input
            name="Listing[country]"
            value="<%= Listing.country %>"
            type="text" class="form-control"/></div>
    
            </div>
          
          
          
          
          
        
          
            <div class="mb-3"><label for="location" class="form-label">Location</label>
              <input
            name="Listing[location]"
            value="<%= Listing.location %>"
            type="text"
          /></div>
          
          <br /><br />
          <button class="btn btn-dark edit-btn">Edit</button>
          <br><br><br>
        </form>
      </div>
    </div>
    
